.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
**/*.ts
.gitignore
tsconfig.json
tslint.json
vsc-extension-quickstart.md
CHANGELOG.md
webpack.config.js
node_modules/**
.git/**
.DS_Store
*.vsix
**/*.test.*
**/*.spec.*
.travis.yml
.github/**
docs/**
**/.eslintrc.*
**/jest.config.*
**/*.md
!README.md
webpack-bundle-analyzer-report.html