.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
# Reduce vsix size
portfolio-automation-system/**
docs/**
images/**
!images/vscode-live-server-plus-plus.png
**/*.gif
.travis.yml